.ig{
    color: rgb(235, 70, 125);
    font-style: italic;
}
.fb{
    color: rgb(47, 47, 204);
    font-style: italic;
}
.all{
    color: purple;
}
#p1 {
    color: cadetblue;
}
#p2 {
    color: aquamarine;
}